@import "colors.scss";
@import "breakpoints.scss";

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  
  padding: 16px 16px 0px 16px;

  @include for-tablet-landscape-up {
    width: 900px;
  }
}
